{% extends "index.html"%}

{%block content%}
<div class="container">
    <h1 class="bootstrap-heading">ImaginarySomethingElse</h1>
    <div class="images-div row">
      <div class="img-child col-lg-6 col-md-12 card p-2">
        <img src="https://i.redd.it/lsicn746swk71.jpg" alt="" class="img-fluid p-2">
        <div class="card-body d-flex justify-content-between align-items-start">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="img-child col-lg-6 col-md-12 card p-2">
        <img src="https://external-preview.redd.it/wUyrn7Re_M0020H_IM5DpbIKHwiSQbhFqCri2PqxANo.jpg?auto=webp&s=d52e22b11ebd155205aa7657428c1faca9dda4a0" alt="" class="img-fluid p-2">
        <div class="card-body d-flex justify-content-between align-items-start">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="img-child col-lg-6 col-md-12 card p-2">
        <img src="https://i.redd.it/lsicn746swk71.jpg" alt="" class="img-fluid p-2">
        <div class="card-body d-flex justify-content-between align-items-start">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="img-child col-lg-6 col-md-12 card p-2">
        <img src="https://external-preview.redd.it/wUyrn7Re_M0020H_IM5DpbIKHwiSQbhFqCri2PqxANo.jpg?auto=webp&s=d52e22b11ebd155205aa7657428c1faca9dda4a0" alt="" class="img-fluid p-2">
        <div class="card-body d-flex justify-content-between align-items-start">
          <h5 class="card-title">Card title</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        <div class="img-child col-lg-6 col-md-12 card p-2">
          <img src="https://i.redd.it/lsicn746swk71.jpg" alt="" class="img-fluid p-2">
          <div class="card-body d-flex justify-content-between align-items-start">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="img-child col-lg-6 col-md-12 card p-2">
          <img src="https://external-preview.redd.it/wUyrn7Re_M0020H_IM5DpbIKHwiSQbhFqCri2PqxANo.jpg?auto=webp&s=d52e22b11ebd155205aa7657428c1faca9dda4a0" alt="" class="img-fluid p-2">
          <div class="card-body d-flex justify-content-between align-items-start">
            <h5 class="card-title">Card title</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>  
    </div>
{%endblock%}