{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <style>
    #nav {
        list-style: none inside;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    #nav li {
        display: block;
        position: relative;
        float: right;
        background: #ffffff;
        z-index: 1;
        /* menu background color */
    }

    #nav li a {
        display: block;
        padding: 0;
        text-decoration: none;
        width: 200px;
        /* this is the width of the menu items */
        line-height: 35px;
        /* this is the hieght of the menu items */
        color: #000000;
        /* list item font color */
    }

    /* smaller font size for sub menu items */

    #nav li:hover {
        background: #ddd;
    }

    /* highlights current hovered list item and the parent list items when hovering over sub menues */

    #nav ul {
        position: absolute;
        padding: 0;
        right: 0;
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        /* hides sublists */
    }

    #nav li:hover ul ul {
        display: none;
    }

    /* hides sub-sublists */

    #nav li:hover ul {
        display: block;
    }

    /* shows sublist on hover */

    #nav li li:hover ul {
        display: block;
        /* shows sub-sublist on hover */
        margin-right: 200px;
        /* this should be the same width as the parent list item */
        margin-top: -35px;
        /* aligns top of sub menu with top of list item */
    }
</style>
</head>

<body>

  <div class="shadow px-3 mb-5 bg-white rounded">
    <nav class="navbar nabvar-light bg-white d-flex-row justify-content-start px-3">
      <span class="navbar-brand mb-0 h1">Re-imagine </span>
      <form class="form-inline d-flex">
        <input class="form-control mr-sm-2 search-box" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
      <div>
        <ul id="nav">
          <li><a href="#" style="width:100%">Menu</a>
              <ul>
                  <li><a href="#">&#171; Characters</a>
                      <ul>
                          <li><a href="{% url 'content' %}?data=ImaginaryArchers">ImaginaryArchers</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryAssassins" >ImaginaryAssassins</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryAstronauts" >ImaginaryAstronauts</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryKnights" >ImaginaryKnights</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryLovers" >ImaginaryLovers</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryMythology" >ImaginaryMythology</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryNobels" >ImaginaryNobles</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryScholars" >ImaginaryScholars</a>
                          <li><a href="{% url 'content' %}?data=ImaginarySoldiers" >ImaginarySoldiers</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWarriors" >ImaginaryWarriors</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWitches" >ImaginaryWitches</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWizzards" >ImaginaryWizards</a>
                      </ul>
                  </li>
                  <li><a href="#">&#171; Races</a>
                      <ul>
                          <li><a href="{% url 'content' %}?data=ImaginaryAngels">ImaginaryAngels</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryDwarves">ImaginaryDwarves</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryElves">ImaginaryElves</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryFaeries">ImaginaryFaeries</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryHumans">ImaginaryHumans</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryImmortals">ImaginaryImmortals</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryMerfolk">ImaginaryMerfolk</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryOrcs">ImaginaryOrcs</a>
                      </ul>
                  </li>
                  <li><a href="#">&#171; Landscapes</a>
                      <ul>
                          <li><a href="{% url 'content' %}?data=ImaginaryBattlefields">ImaginaryBattlefields</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryCityscapes">ImaginaryCityscapes</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryHellscapes">ImaginaryHellscapes</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryMindscapes">ImaginaryMindscapes</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryPathways">ImaginaryPathways</a>
                          <li><a href="{% url 'content' %}?data=ImaginarySeascapes">ImaginarySeascapes</a>
                          <li><a href="{% url 'content' %}?data=ImaginarySkyscapes">ImaginarySkyscapes</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryStarscapes">ImaginaryStarscapes</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWastelands">ImaginaryWastelands</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWeather">ImaginaryWeather</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWindlands">ImaginaryWindlands</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWorlds">ImaginaryWorlds</a>
                      </ul>
                  </li>
                  <li><a href="#">&#171; Architecture</a>
                      <ul>
                          <li><a href="{% url 'content' %}?data=ImaginaryArchitecture">ImaginaryArchitecture</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryCastles">ImaginaryCastles</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryDwellings">ImaginaryDwellings</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryInterior">ImaginaryInterior</a>
                      </ul>
                  </li>
                  <li><a href="#">&#171; Monstors</a>
                      <ul>
                          <li><a href="{% url 'content' %}?data=ImaginaryBeasts">ImaginaryBeasts</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryBehemoths">ImaginaryBehemoths</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryCarnage">ImaginaryCarnage</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryDemons">ImaginaryDemons</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryDragons">ImaginaryDragons</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryElements">ImaginaryElements</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryHorrors">ImaginaryHorrors</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryHybrids">ImaginaryHybrids</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryLeviathans">ImaginaryLeviathans</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryMonsterGirls">ImaginaryMonsterGirls</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryUndead">ImaginaryUndead</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWorldEaters">ImaginaryWorldEaters</a>
                      </ul>
                  </li>
                  <li><a href="#">&#171; Technology</a>
                      <ul>
                          <li><a href="{% url 'content' %}?data=ImaginaryArmor">ImaginaryArmor</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryCybernetics">ImaginaryCybernetics</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryCyberpunk">ImaginaryCyberpunk</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryFutureWar">ImaginaryFutureWar</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryFuturism">ImaginaryFuturism</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryMechs">ImaginaryMechs</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryPortals">ImaginaryPortals</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryRobotics">ImaginaryRobotics</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryStarships">ImaginaryStarships</a>
                          <li><a href="{% url 'content' %}?data=ImaginarySteampunk">ImaginarySteampunk</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryVehicles">ImaginaryVehicles</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWeaponry">ImaginaryWeaponry</a>
                      </ul>
                  </li>
                  <li><a href="#">&#171; Fandoms</a>
                      <ul>
                          <li><a href="{% url 'content' %}?data=ImaginaryAzeroth">ImaginaryAzeroth</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryDarkSouls">ImaginaryDarkSouls</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryFallout">ImaginaryFallout</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryJedi">ImaginaryJedi</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryKanto">ImaginaryKanto</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryMarvel">ImaginaryMavel</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryMiddleEarth">ImaginaryMiddleEarth</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryNecronomicon">ImaginaryNecronomicon</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryTamriel">ImaginaryTamriel</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWarhammer">ImaginaryWarhammer</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWesteros">ImaginaryWesteros</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryWitcher">ImaginaryWitcher</a>
                      </ul>
                  </li>
                  <li><a href="#">&#171; Misc</a>
                      <ul>
                          <li><a href="{% url 'content' %}?data=ImaginaryAwww">ImaginaryAwww</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryBestOf">ImaginaryBestOf</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryColorscpes">ImaginaryColorscapes</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryFeels">ImaginaryFeels</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryPets">ImaginaryPets</a>
                          <li><a href="{% url 'content' %}?data=ImaginarySliceOfLife">ImaginarySliceOfLife</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryNetwork">ImaginaryNetwork</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryTurtlaWorlds">ImaginaryTurtleWorlds</a>
                          <li><a href="{% url 'content' %}?data=ImaginaryUnofficial">ImaginaryUnofficial</a>
                      </ul>
                  </li>
              </ul>
            </li>
          </ul>
      </div>
    </nav>
  </div>
  {%block content%}

  {%endblock%}
</body>

</html>